.footer {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(0, 0, 0, 0.314);
  box-shadow: 1px 1px 10px white;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  width: 100%;
  max-width: 1200px;
  border-bottom: 3px solid white;
}



.footer__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 30%;
  color: #ffffff;
  width: 100%;
  max-width: 400px;
}

.footer__logo img {
  max-width: 180px;
  margin-bottom: 15px;
  filter: drop-shadow(1px 2px 30px rgb(153, 0, 255));
  animation: flipY 5s ease-in-out infinite;
}

.footer__logo img:hover {
  filter: drop-shadow(1px 1px 10px white);
}

.footer__logo p {
  font-weight: 400;
  margin-left: 40px;
}

.footer__links,
.footer__resources,
.footer__contact {
  flex: 1 1 20%;
  margin: 10px;
}

.footer__links ul,
.footer__resources ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 300px;
}

.footer__links,
.footer__contact,
.footer__legal,
.footer__support {
  width: 100%;
  max-width: 250px;
}


.footer__links ul li,
.footer__resources ul li {
  margin-bottom: 10px;
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-bottom: 10px;
}

.footer__links ul li a,
.footer__resources ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.footer__links ul li a:hover,
.footer__resources ul li a:hover {
  color: #ff0000;
}

.footer__contact p {
  margin-bottom: 15px;
  font-weight: 500;
}

.footer__contact input,
.footer__contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  color: #ffffff;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: #000000;
}


.footer__button {
  background: linear-gradient(32deg, rgba(0, 0, 0, 0.455), rgba(255, 0, 0, 0.227), rgba(144, 0, 255, 0.53));
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border: 2px solid rgb(255, 255, 255);
}

.footer__button:hover {
  background-color: #d12d3b;
}

.footer__bottom {
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
  font-weight: bold;
}

.footer__bottom p {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
}