.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
}

.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container_information::before {
  content: '';
  width: 1px;
  height: 100%;
  background: black;
  position: absolute;
  left: 50vw;
}

.container_information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 850px;
}

.container_logo_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 150px;
  position: relative;
  right: 9.2vw;
}

.container_logo_login img {
  width: 100px;
  height: auto;
  filter: drop-shadow(1px 2px 30px rgb(153, 0, 255));
  animation: flipY 5s ease-in-out infinite;
}

.container_logo_login img:hover {
  filter: drop-shadow(1px 1px 10px white);
}

.container_logo_login a {
  margin-top: 30px;
  color: aliceblue;
  font-size: 19px;
  font-weight: 600;
}

.container_title_login p {
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 2px;
  line-height: 25px;
}

.container_title_login h2 {
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1rem, 2rem, 3rem);
  margin-bottom: 5px;
}

.container_input_users, .container_types_login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.container_types_login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 15vh;
}

.btn_login {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 25px;
  text-align: center;
  border-radius: 20px;
}

.btn_login:hover:before {
  content: "";
  width: 307px;
  height: 57px;
  position: absolute;
  background: linear-gradient(140deg, rgb(115, 0, 255), rgb(255, 255, 255));
  border-radius: 20px;
  z-index: -1;
  box-shadow: 1px 1px 10px white;
  border: 1px solid rgb(99, 98, 98);
}

.btn_login:hover {
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
}

.icon_style {
  font-size: 1.5rem !important;
  width: 25px;
}

#form_login, #form_register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5vh;
  gap: 1.5vh;
}

.div_input .input_user {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 20px 4vw 20px 10px;
  margin-left: 10px;
  background-color: #fcfcfc;
  margin-top: 10px;
}

.input_user:hover {
  border: 1px solid white;
  color: white;
}

.input_user::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.login_btn {
  height: 45px;
  font-size: 1rem;
}

.account_login {
  font-size: 14px;
  color: aliceblue;
  font-family: 'ROBOTO', sans-serif;
  font-weight: 500;
}

.account_login a {
  color: black;
}

.account_login a:hover {
  color: rgb(255, 0, 0);
}

.active_logo {
  display: none;
}