.Services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(99, 43, 155, 0.312);
}

.container_services {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.container_card_services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.card_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.181);
  box-shadow: 1px -90px 90px rgba(255, 255, 255, 0.067);
  padding-top: 1rem;
}

.container_text_card_services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 650px;
  gap: 10px;
  padding: 10px;
}

strong {
  padding-right: 10px;
  color: black;
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  line-height: 40px;
  font-weight: 600;
}

.container_text_card_services h2 {
  width: 100%;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: aliceblue;
  background: linear-gradient(to left, #6b1dfc 45%, black, #ffffff 25%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3.5s backwards infinite;
}

.container_text_card_services p {
  font-size: clamp(1rem, 1.3vw, 1.5rem);
  color: aliceblue;
  line-height: 40px;
  font-weight: 600;
}


.container_img_services {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 10px;
}

.container_img_services img {
  width: 100%;
  max-width: 600px;
  height: 400px;
  border-radius: 20px;
  border: 2px solid white;
}

.container_img_services img:hover {
  transform: scale(1.03);
  border: 3px solid rgb(255, 0, 0);
}